<div class="container">
  <img class="headerImage" src="https://res.cloudinary.com/cottagecore/image/upload/v1606347700/IMG_1840_8daef0a739.jpg"/>
  <p>Hi dear, <br/> <br/>
  Welcome to the cottagecore dream. We are so happy that you have visited our website. Here you will find lovely written articles and guides about various cottagecore themes including slow living, sustainability, recipes, gardening, fashion, DIY, crafts, interior and many.
  </p>
  <p> As a thank you for being part of our community, we have a little gift for you... </p>
  <p>Below is an Animated GIF package, which you can use for your IG stories. </p> 
  
  <div class="greetings">
  <p>Love, <br/> Lilly</p>
  </div>
</div>